.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2eb701;
    border-radius: 5px;
    height: 360px;
    box-shadow: 0px 0px 10px #2eb701,
        inset 0px 0px 20px #2eb701;
    color: #2eb701;
}
h1{
    color: #2eb701;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;

}
input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #2eb701;
    color: #2eb701;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
input::placeholder{
    color: #2eb701;
}
button{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    height: 35px;
    width: 150px;
}
#Register{
    box-shadow: 0px 0px 10px #1e7a00;
    background-color: #1e7a00;
    color: #fff;
    border: 2px solid #1e7a00;
}
#Register:hover{
    box-shadow: 0px 0px 40px #2eb701;
    background-color: #2eb701;
    color: #000000;
    border: 2px solid #2eb701;
}
#Cancel{
    box-shadow: 0px 0px 10px #b70101;
    background-color: #b70101;
    color: #fff;
    border: 2px solid #b70101;
}
#Cancel:hover{
    box-shadow: 0px 0px 40px #e00202;
    background-color: #e00202;
    color: #000000;;
    border: 2px solid #e00202;
}