<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style_base.css')}}">
    {% block set_style %}
    {% endblock %}
    
</head>
<header>
    {% block header %}
    {% endblock %}
</header>
<body>
    {% block body %}
    {%  endblock %}
</body>
<br>
<footer>
    {% block footer %}
        <h3>Github: @xJesusx0</h3>
    {% endblock %}
</footer>
</html>